.chart_btn
  color: #0fb9b1
.line-chart
  position: fixed
  right: 50px
  bottom: 50px
  animation: fadeIn 600ms cubic-bezier(.57,.25,.65,1) 1 forwards
  opacity: 0
  max-width: 840px
  width: 100%
  background-color: #fff
  border-radius: 10px
  padding: 15px
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2)
.aspect-ratio
  height: 0
  padding-bottom: 50%

@keyframes fadeIn
  to
    opacity: 1